.homePage {
  // margin: auto;
  width: auto;
  padding: 10px;
}

.link {
  width: auto;
  height: 30px;
  background-color: gray;
  margin: 2px;
  color: white;
  align-content: center;
  padding-left: 5px;
}
.headerBlock {
  width: 100%;
  display: flex;
  justify-content: center;
}
